*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
body::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('3.jpg') no-repeat center center/cover;
    z-index: -1;
    /* opacity: .9; */
}

/* .formContainer{
    margin-top: 120px;
    border: 4px solid white;
    border-radius: 8px;
    padding: 30px 80px;
    padding-top: 10px;
    
} */

.formContainer{
    margin-top: 100px;
    border: 4px solid rgb(66, 2, 66);
    border-radius: 2px;
    padding: 10px 10px;
    padding-top: 10px;
    height: 520px;
    box-shadow: 2px 4px 5px rgb(60, 1, 60);
    
}


.formContainer h2{
    font-size: 2.5rem;
    color:beige;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 10px;
   
    
}
.formContainer h2 ::before
{

    content:"";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 33%;
      border: 4px solid red;

}

/* .formContainer input{
    font: 1em sans-serif;
    font-weight: 600;
    text-align: left;
    margin: 5px 10px;
    padding: 8px 10px;
    width: 500px;
    border: 2px solid ghostwhite;
    border-radius: 8px;
} */

/* Newly added */
.formContainer input{
    font: 1em sans-serif;
    font-weight: 600;
    text-align:center;
    margin: 15px 10px;
    padding: 8px 10px;
    width: 400px;
    /* border: 2px solid ghostwhite; */
    border-radius: 2px;
    border: none;
    border-bottom: 4px solid white;
    background: transparent;
    color: white;
    outline: none;

}


.formContainer input::placeholder{
    color: white;
    padding-left: 60px;
    text-align: left;
}

.fa-solid{
    font-size: 1.2rem;
    color: white;
    display: inline-block;
    transform: translateX(50px);
    /* margin-left:  */
    
}
 

/* Newly added upperpaet */

.formContainer #btn{
    display: flex;
    justify-content:space-between;
}

#btn input{
    padding: 2px 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 220px;
    font: 1.4em sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

#btn input[type="submit"]
{   color: white;
    text-shadow: 1px 2px solid grey;
    background-color: green;
    box-shadow: 1px 2px 2px grey;
}

#btn input[type="reset"]
{   color: white;
    text-shadow: 1px 2px solid grey;
    background-color: red;
    box-shadow: 1px 2px 2px grey;
}
.error{
    text-align: center;
    color: wheat;
    font: 1em sans-serif;
    font-weight: bold;

}
